USE [master]
GO
/****** Object:  Database [Task1SlowDateRangeSearch]    Script Date: 2.9.2014 г. 10:40:51 ч. ******/
CREATE DATABASE [Task1SlowDateRangeSearch]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Task1SlowDateRangeSearch', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SIKOSQLSERVER\MSSQL\DATA\Task1SlowDateRangeSearch.mdf' , SIZE = 61440KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Task1SlowDateRangeSearch_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SIKOSQLSERVER\MSSQL\DATA\Task1SlowDateRangeSearch_log.ldf' , SIZE = 16576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Task1SlowDateRangeSearch].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Task1SlowDateRangeSearch]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 2.9.2014 г. 10:40:51 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LogDate] [datetime] NOT NULL,
	[LogText] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_Logs.Date]    Script Date: 2.9.2014 г. 10:40:51 ч. ******/
CREATE NONCLUSTERED INDEX [IX_Logs.Date] ON [dbo].[Logs]
(
	[LogDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Logs.Text]    Script Date: 2.9.2014 г. 10:40:51 ч. ******/
CREATE NONCLUSTERED INDEX [IX_Logs.Text] ON [dbo].[Logs]
(
	[LogText] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
