<div id="fpsradar-blank-view" class="fpsradar-view" data-show="buildAndBindPasswordsListView"  data-role="view" data-title="blank" data-layout="main" data-model="APP.models.create.game">
    <div class="content-container">
        <header>
            <strong>Your game has been created</strong>
        </header>
        <div>
            <strong>These are the passwords required for playing the game: </strong>
        </div>
        <br/>
        <ul id="password-list"></ul>
    </div>
</div>
<script>
    function buildAndBindPasswordsListView() {
        var template = kendo.template($("#passwords-list-template").html());
        var result = template(APP.models.create.game.gameRoles);
        $("#password-list").html(result);
    }
</script>
<script type="text/x-kendo-template" id="passwords-list-template">
    <li>
        <strong >
            Password for the game: 
            # debugger; #
            <span class = "specialString"> #= APP.models.create.gameId # </span>
        </strong >
    </li>
    # for (var i = 0; i < data.length; i++) { # 
        <li> 
            <strong>
                <span class="specialString">#= data[i].name # </span > password: 
                <span class = "specialString" > #= data[i].password # </span>
            </strong >
        </li>
    # } #
</script>