<div id="fpsradar-join-view" class="fpsradar-view" data-role="view" data-title="join" data-layout="join-layout" data-model="APP.models.join">
    <div class="content-container">
        <header>
            <strong>Join a created game</strong>
        </header>
        <label class="label block">
            Game ID:
            <input class="input block" data-bind="value: info.gameId" />
        </label>
        <label class="label block">
            Password:
            <input class="input block" type="password" data-bind="value: info.rolePassword" />
        </label>
    </div>
</div>
