<div id="fpsradar-login-view" class="fpsradar-view" data-role="view" data-title="login" data-layout="login-layout" data-model="APP.models.login">
    <div class="content-container">
        <header>
            <strong>wellcome to this game</strong>
        </header>
        <label class="label block">
            Email:
            <input class="input block" data-bind="value: info.email" />
        </label>
        <label class="label block">
            Password:
            <input class="input block" type="password" data-bind="value: info.password" />
        </label>
    </div>
</div>